
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pay Bag</title>
    @*<link href="estilos.css" type="text/css" rel="stylesheet" >*@
</head>
<body style="background:url(https://fondosmil.com/fondo/26163.jpg) no-repeat; font-family:'Century Gothic'; font-size:2em;">
    <h1 style="text-align:center">¿Manejas una cartera de prestamos pero no tienes un sistema que lo automatice? </h1>
    <div style="display: inline-block; padding-left:8%">
        <p>
            Tenemos la solución ¿Te gustaria probarla?
            <ul>
                <h4>PAY BAG te ofrece...</h4>
                <li>Seguridad en tus cuentas</li>
                <li>Control del capital</li>
                <li>Tiempos ágiles</li>
                <li>Ahorro de dinero</li>
            </ul>
            <br />
            <br />
            Registrate y te contactaremos &nbsp;&nbsp;&nbsp; @Html.ActionLink("Registrate", "Create")
        </p>
    </div>
    <div style="display:inline-block; margin-left:8%;">
        <img src="https://lh3.googleusercontent.com/proxy/hu33zFYTgnOloBDDVRBQKOVOn2y1cuW2Si8-OX6WUVF-XrvyUupiajTJs-kg2W8yUBk7mS2rfnlFVdIZH3XBGHFbdlPfJXftpwKBAT6Z6zLCPjZ8CGEx" alt="Pay-Bag" style="" />
    </div>
</body>
</html>
